{% extends "_layouts/auth.njk" %}

{% block body %}
  <form action="/signup" method="post">
    <label for="avatar">
      <img src="/images/avatar.svg" height="24">
    </label>
    <input id="avatar" name="avatar" type="file">
    <input type="text" name="name" placeholder="Full name">
    <input type="email" name="email" placeholder="Your e-mail">
    <input type="password" name="password" placeholder="Secret password">

    <label for="provider">
      <input type="checkbox" id="provider" name="provider" value="1">
      I'm a hairdresser
    </label>

    <button type="submit">Create an account</button>
    <a href="/">I already have an account</a>
  </form>

  <script type="text/javascript">
    let avatarInput = document.getElementById('avatar')
    let img = document.querySelector('label[for=avatar] img')

    avatarInput.onchange = e => {
      img.classList.add('preview')
      img.src = URL.createObjectURL(e.target.files[0])
    }
  </script>
{% endblock %}
