{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="container">
    <div class="clients content">
      <strong>Hello, {{ user.name }}</strong>
      <p>See your customers below:</p>
      <ul class="clients-list">
        {% for appointment in appointments %}
          <li class="client">
              <img src="/files/{{ appointment['client'].avatar }}" alt="">
            <div class="client-info">
              <span class="client-name">{{ appointment['client'].name }}</span>
              <span class="client-email">{{ appointment['client'].email }}</span>
              <span class="appointment-datetime">
                <span class="appointment-date">
                  <svg class="appointment-calendar" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate" viewBox="0 0 16 16" width="16" height="16"><path d=" M 0.007 10.667 L 0.007 3.2 C 0.007 2.316 0.803 1.6 1.784 1.6 L 2.672 1.6 L 2.672 0 L 4.449 0 L 4.449 1.6 L 11.557 1.6 L 11.557 0 L 13.334 0 L 13.334 1.6 L 14.223 1.6 C 15.204 1.6 16 2.316 16 3.2 L 16 14.4 C 16 15.284 15.204 16 14.223 16 L 1.784 16 C 0.803 16 0.007 15.284 0.007 14.4 L 0.007 12 L 0 12 L 0 10.667 L 0.007 10.667 Z  M 1.784 10.667 L 1.784 5.6 L 14.223 5.6 L 14.223 14.4 L 1.784 14.4 L 1.784 12 L 1.784 12 L 1.784 10.667 L 1.784 10.667 Z " fill-rule="evenodd" fill="rgb(113,89,193)"/></svg>
                  {{ appointment.dateOnly }}
                </span>
                <span class="appointment-time">
                  <svg class="appointment-clock" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate" viewBox="0 0 16 16" width="16" height="16"><path d=" M 8 0 C 3.572 0 0 3.572 0 8 C 0 12.428 3.572 16 8 16 C 12.428 16 16 12.428 16 8 C 16 3.572 12.428 0 8 0 Z  M 8 1.6 C 11.572 1.6 14.4 4.428 14.4 8 C 14.4 11.572 11.572 14.4 8 14.4 C 4.428 14.4 1.6 11.572 1.6 8 C 1.6 4.428 4.428 1.6 8 1.6 Z  M 7.2 4 L 7.2 8.325 L 7.425 8.575 L 9.825 10.975 L 10.975 9.825 L 8.8 7.65 L 8.8 4 L 7.2 4 Z " fill="rgb(113,89,193)"/></svg>
                  {{ appointment.time }}
                </span>
              </span>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="content">
      <strong>Other hairdressers</strong>
      <p>Starts a schedule by choosing one of the professionals below:</p>
      <ul class="providers">
        {% for provider in otherProviders %}
          <li class="provider">
            <div>
              <img src="/files/{{ provider.avatar }}" alt="">
              <strong>{{ provider.name }}</strong>
            </div>
            <a href="/app/appointments/new/{{ provider.id }}">+</a>
          </li>
        {% endfor %}
      </ul>
      <a class="logout" href="/app/logout">Sign out</a>
    </div>
  </div>
{% endblock %}
